@media screen and (max-width: 767px) {
  html {
    font-family: "Roboto", sans-serif;
    list-style: none;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  * {
    text-decoration: none;
    box-sizing: border-box;
  }

  
  body,
  .nav-left,
  .navbar,
  .header-section-heading,
  .header-section-heading-2,
  .header-section-paragraph,
  .main-wrapper,
  .col-header,
  .menu-list-items,
  .see-projects-btn,
  .list-items,
  .icons-section,
  .arrow-bottom img,
  .my-work p  {
    display: flex;
  }

  body {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 375px;
  }
  
  .main-wrapper {
    flex-direction: column;
    align-items: center;
    top: 0px;
    width: 375px;;
    height: auto;
    background-color: rgb(12, 12, 88);
    color: #fff;
    z-index: 1;
    overflow:hidden;
  }

  hr {
    border: 0.5px solid #646369;
  }

  header {
    width: 100%;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    width: 375px;
    position: fixed;
    top: 0;
    z-index: 100000;
    background-color: rgb(12, 12, 88);
  }

  .nav-left {
    align-items: center;
    text-align: center;
    width: 95px;
    height: 16px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 30px 5px 0;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .hamberg.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamberg.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamberg.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-list-link {
    color: #fff;
  }

  .menu-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    text-align: left;
    position: absolute;
    display: none;
    width: 100%;
    height: 185vh;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 12, 88);
    z-index: 1;
    cursor: pointer;
    overflow-y: hidden;
    transition: 0.3s;
    background-image: url('/images/shape2.png'), url('/images/shape1.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left -2em, right 12em;
    background-size: 13em, 11em;
  }

  .menu-list-items {
    justify-content: space-between;
    margin: 10px 0;
    margin-top:30px;
    color: #fff;
    padding: 10px 0;
  }

  .mobile-span {
    color: #acb7c3;
    margin-right: 12%;
  }

  .menu-list.active {
    display: block;
    width: 375px;
    font-size: 18px;
  }

  .contact-us-h2-section h2,
  .header-section-desktop-paragraph,
  .circle-1,
  .circle-2,
  .eclipse-1,
  .ellipse-19,
  .ellipse-20,
  .ellipse-21,
  .ellipse-22,
  .arrow-left,
  .arrow-right,
  .mail-icon,
  .arrow-right img {
    display: none;
  }

  .header-section-heading {
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-top: 1em;
    text-align: center;
    letter-spacing: 0.37px;
    color: #7d73fc;
    animation-name: heading-1;
    animation-duration: 5s;
  }

  #About {
    text-align: center;
  }

  @keyframes heading-1 {
    from {
      color: #191765;
    }

    to {
      color: #7d73fc;
    }
  }

  .header-section-heading-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #edecff;
    animation-name: heading-2;
    animation-duration: 5s;
  }

  @keyframes heading-2 {
    from {
      color: #191765;
    }

    to {
      color: #edecff;
    }
  }

  .header-section-paragraph {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #c8c8d4;
    padding: 0;
  }

  .skills-section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
  }

  ul li {
    list-style-type: none;
  }

  .col-header {
    width: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.03em;
    color: #9490ff;
  }

  .list-items {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    flex-direction: row;
    align-items: center;
    padding: 7.74194px 0;
    width: 73.55px;
    height: 30.97px;
  }

  .icons-section {
    flex-direction: row;
    align-items: center;
    padding: 12px 12px;
    gap: 8px;
  }

  .arrow-bottom {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
  }

  .arrow-bottom img {
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .my-work p {
    width: 327px;
    height: 104px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    color: #9490ff;
    margin: 40px 0 20px;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin-bottom: 40px;
    width: 327px;
    height: 729px;
  }

  .white-bg {
    width: 327px;
    height: 236px;
    background: linear-gradient(0deg, #fff, #fff), url(image_processing20200716-21735-f07s4k.png);
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
  }

  .posts h2 {
    width: 327px;
    height: 105px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .posts p {
    width: 327px;
    height: 204px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
  }

  .posts .tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 312px;
    height: 40px;
  }

  .posts .tags li {
    font-size: 24px;
    width: fit-content;
    border-left: 2px #555 solid;
    padding-left: 10px;
  }

  .posts .tags li:first-child {
    border-left: none;
  }

  .see-projects-btn {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 89px;
    height: 48px;
    background: #7d73fc;
    color: #edecff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    transition: font-size 2s;
  }

  .see-projects-btn:hover {
    border: blue solid 2px;
    font-size: 16px;
  }

  .contactus-section {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    margin: 40px 0 0;
    width: 327px;
  }

  .callme {
    width: 327px;
    height: 35px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #9390ff;
  }

  .contact-description {
    width: 327px;
    height: auto;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f5f5ff;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 327px;
    height: 292px;
  }

  .name {
    width: 327px;
    height: 48px;
  }

  .mail {
    width: 327px;
    height: 48px;
  }

  .textarea {
    width: 327px;
    height: 148px;
    background: #fff;
  }

  textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 12px;
    gap: 10px;
    width: 89px;
    height: 48px;
    color: #fff;
    background: #7d73fc;
    border: none;
    border-radius: 5px;
    transition: font-size 2s;
  }

  .button:hover {
    border: blue solid 2px;
    font-size: 16px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-bottom: 0;
  }

  .footer h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-top: -5px;
  }

  .icons-section-footer {
    padding-top: 40px;
    padding-bottom: 0;
    gap: 5px;
  }

  .footer-header a {
    text-decoration: none;
  }

  .footer-heading {
    padding-top: 0;
    margin-top: -15px;
  }

  .border {
    width: 374px;
    border: #3a3837 solid 1px;
    border-radius: 5px;
    margin-top: 20px;
  }

}

@media only screen and (min-width: 768px) {
  html body {
    margin: 0;
    padding: 0;
    background: #191765;
  }

  html {
    scroll-behavior: smooth;
  }

  .main-wrapper {
    max-width: 90%;
    margin: 0 auto;
  }

  header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100000;
    background: #191765;
  }

  .contactus-section,
  .footer,
  .header-section-wrapper,
  .navbar {
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  .nav-left {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    padding: 0 2em;
  }

  .menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
    list-style-type: none;
  }

  .menu-list-link {
    text-decoration: none;
    color: #fff;
  }

  .menu-list-items,
  .header-section-desktop-paragraph,
  .skills-section,
  .icons-section-div,
  .icons-section-mid,
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-list-items {
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-left: 12px;
  }

  .mail-icon {
    width: 35px;
    height: 25px;
    margin-left: 0;
    background-color: #fff;
  }

  .callme,
  .hamberg,
  .bar,
  .eclipse-1,
  .white-bg,
  .mobile-span,
  .ellipse ,
  .ellipse-2,
  .recent-mobile,
  .header-section-paragraph,
  .arrow-bottom  {
    display: none;
  }

  .header-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .heading-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    padding: 0;
  }

  .header-section-heading {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    color: #9391ff;
    margin-bottom: -50px;
    margin-top: 0;
    animation-name: heading-3;
    animation-duration: 5s;
  }

  @keyframes heading-3 {
    from {
      color: #191765;
    }

    to {
      color: #9391ff;
    }
  }

  .header-section-heading-2 {
    width: auto;
    margin-top: 3em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #dfe1e6;
    animation-name: heading-5;
    animation-duration: 5s;
  }

  @keyframes heading-5 {
    from {
      color: #191765;
    }

    to {
      color: #dfe1e6;
    }
  }

  .circle-1 {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 30px;
    top: 150px;
  }

  .circle-2 {
    position: absolute;
    background-image: url("images/circle-2.svg");
    background-color: #edecff;
    background-repeat: no-repeat;
    width: 10%;
    height: 25%;
    margin-top: 250px;
    right: 80px;
    filter: blur(30px);
  }

  .header-section-desktop-paragraph {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #b3bac5;
  }

  .devider {
    border: 1px solid #646369;
    width: 448px;
    margin: 0 496px;
    margin-top: 30px;
  }

  .devider-2 {
    border: 1px solid #646369;
    width: 448px;
    margin: 0 auto;
    margin-top: 30px;
  }

  .skills-section {
    padding: 0 25%;
    margin: 0 auto;
  }

 .icons-section-div {
    padding: 0;
    margin: 0 auto;
    margin-top: 4em;
  }

  .arrow-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 4px 0;
    gap: 12px;
    width: 77px;
    height: 40px;
  }

  .arrow-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 0;
    margin: 0 auto;
    gap: 12px;
    width: 76px;
    height: 40px;
  }

  .icons-section-mid {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 40px;
  }

  .span {
    width: 1px;
    height: 40px;
    background: #555;
  }

  #Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 0;
    gap: 20px;
  }

  .contact-us-h2-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 684px;
    height: 141px;
  }

  .contact-us-h2-section h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9390ff;
  }

  .contact-description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 88px;
    gap: 20px;
    width: 684px;
    height: 274px;
  }

  .textarea {
    width: 400px;
    height: 100px;
  }

  .name,
  .mail {
    height: 48px;
    width: 400px;
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background: #9390ff;
    color: #fff;
    transition: font-size 2s;
  }

  .footer {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 50px;
  }

  .icons-section-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .icons-section-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    border: none;
    padding: 0;
    margin: 0 auto;
    width: 200px;
    height: 40px;
  }

  .footer-heading {
    width: 221px;
    height: 29px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .footer-border {
    border: #3a3837 1px solid;
    width: 100%;
  }

  .btn:hover {
    border: blue solid 2px;
    font-size: 16px;
  }

  .recent-mobile {
    display: none;
  }

  .languages h3 {
    font-size: 18px;
  }

  .projects > article {
    padding: 0 !important;
  }

  .img_placeholder {
    height: 400px;
    width: 500px;
  }
  
  .footer-header a {
    text-decoration: none;
  }
}
