html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

* {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: auto;
  align-items: center;
  background-color: rgb(12, 12, 88);
  color: #fff;
  padding-top: 20px;
}

hr {
  border: 0.5px solid #646369;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 375px;
  justify-content: space-between;
}

.nav-left {
  width: 81px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 20px;
  color: #fff;
}

.hamberg {
  width: 66px;
  height: 66px;
}

.eclipse-1 {
  background-image: url('images/Ellipse_18.png');
  background-repeat: no-repeat;
  position: absolute;
  height: 200px;
  width: 200px;
  left: 34.5%;
  top: 68px;
}

.ellipse-2 {
  background-image: url('images/Ellipse_19.png');
  background-repeat: no-repeat;
  position: absolute;
  height: 20%;
  width: 20%;
  right: 22%;
  overflow: hidden;
}

.header-section {
  width: 80%;
  height: auto;
  overflow: hidden;
}

.header-section h1 {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.header-section h2 {
  width: 327px;
  height: 87px;
  position: relative;
  top: -20px;
  left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #edecff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-section p {
  width: 327px;
  height: 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #c8c8d4;
}

.skills-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

ul li {
  list-style-type: none;
}

.col-header {
  display: flex;
  width: 50%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.03em;
  color: #9490ff;
}

.list-items {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7.74194px 0;
  width: 73.55px;
  height: 30.97px;
}

.icons-section {
  padding: 40px 24px;
  gap: 40px;
}

.arrow-bottom {
  display: flex;
  flex-direction: column;
}

.arrow-bottom img {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  height: 40px;
}

.my-work p {
  width: 327px;
  height: 104px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #9490ff;
  margin: 40px 0 20px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  margin-bottom: 40px;
  width: 327px;
  height: 729px;
}

.white-bg {
  width: 327px;
  height: 236px;
  background: linear-gradient(0deg, #fff, #fff), url(image_processing20200716-21735-f07s4k.png);
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts h2 {
  width: 327px;
  height: 105px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.posts p {
  width: 327px;
  height: 204px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.posts .tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 312px;
  height: 40px;
}

.span {
  width: 1px;
  height: 20px;
  background: #555;
}

.see-projects-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  background: #7d73fc;
  color: #edecff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.see-projects-btn:hover {
  background-color: #fff;
  color: #9490ff;
}
